[Unit]
Description=The Choria Scout Agent
After=network.target

[Service]
StandardOutput=syslog
StandardError=syslog
User=root
Group=root
ExecStart={{cpkg_bindir}}/{{cpkg_name}} run --config={{cpkg_etcdir}}/scout.conf
KillMode=process

[Install]
WantedBy=multi-user.target
